#navbar-wrapper,
#covid-button {
  background-color: cadetblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#covid-button {
  font-size: 60px;
  align-items: center;
  padding-left: 20px;
  color: black;
}

.navbar-buttons {
  text-decoration: none;
}

.navbar-buttons button {
  height: 100%;
}
